<form (ngSubmit)="agregar()">
  <div class="agregar">
    <div class="agregar_contenedor">
      <select
        [ngClass]="{ redfocus: tipo === 'egresoOperacion' , red: tipo === 'egresoOperacion' , green: tipo === 'ingresoOperacion'}"
        (change)="tipoOperacion($event)"
        class="agregar_tipo"
      >
        <option value="ingresoOperacion">
          Ingreso
        </option>
        <option value="egresoOperacion">Egreso</option>
      </select>
      <input
        [ngClass]="{ redfocus: tipo === 'egresoOperacion' }"
        type="text"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        name="titulo"
        [(ngModel)]="titulo"
        required
      />
      <input
        [ngClass]="{ redfocus: tipo === 'egresoOperacion' }"
        type="number"
        class="agregar_valor"
        placeholder="Valor"
        name="valor"
        [(ngModel)]="valor"
        required
      />
      <button type="submit" class="agregar_btn">
        <i  [ngClass]="{ red: tipo === 'egresoOperacion' }" class="icon ion-ios-checkmark-outline"></i>
      </button>
    </div>
  </div>
</form>
