<form>
  <div class="agregar">
    <div class="agregar_contenedor">
      <select (change)="tipoOperacion($event)" class="agregar_tipo">
        <option value="ingresoOperacion" selected style="color: #28b970">Ingreso</option>
        <option value="egresoOperacion" style="color: #ff5049">Egreso</option>
      </select>
      <input
        type="text"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        name="titulo"
        [(ngModel)]="titulo"
      />
      <input type="number" class="agregar_valor" placeholder="Valor" name="valor" [(ngModel)]="valor"/>
      <button type="submit" class="agregar_btn">
        <i class="icon ion-ios-checkmark-outline" (click)="agregar()"></i>
      </button>
    </div>
  </div>
</form>
